{% extends 'base.html.twig' %}

{% block body %}
<div class="Texte">
    <h1 class="BgVert">Administrer les réseaux et l’Internet</h1>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="Texte">
            <p class ="center"> Installer un poste client(et le sécuriser: antivirus, parefeu, comptes, ...)<br>
            <img src="check.png" alt="check" width="8%" height="auto"> 
            <br>
            <button class="button buttonvert gauchebut" onclick="window.location.href = 'https://docs.google.com/document/d/1sXWQo-cWfXF7fYUJ5x90Cup6RlE_IWVvMVrx_SK9WrY/edit?usp=sharing';">Lien Google</button>
            <button class="button buttonvert droitebut" onclick="window.location.href = 'https://docs.google.com/document/d/1sXWQo-cWfXF7fYUJ5x90Cup6RlE_IWVvMVrx_SK9WrY/edit?usp=sharing';">Lien Google</button>

            </p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="Texte">
            <p class ="center"> Savoir identifier les dysfonctionnements du réseau local<br>
            <img src="check.png" alt="check" width="8%" height="auto"> 
            <br>
            <button class="button buttonvert gauchebut" onclick="window.location.href = 'https://docs.google.com/document/d/1cH31fX5bhVbZvPPNq8rkCCNuB3b92XYgK5CfkZQQ7y4/edit?usp=sharing';">Lien Google</button>
            <button class="button buttonvert droitebut" onclick="window.location.href = 'https://docs.google.com/document/d/1J8ZVV2DFyYI1-mWHz9eE2uJks1DMG_QgWkMwIkTucxE/edit? usp=sharing';">Lien Google</button>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="Texte">
            <p class ="center"> Configurer les fonctions de base du réseau local (Ethernet, IPv4, intro IPv6, commutation, VLANs, routage statique)<br>
            <img src="check.png" alt="check" width="8%" height="auto"> 
            <br>
            <button class="button buttonvert gauchebut" onclick="window.location.href = 'https://docs.google.com/document/d/1ni__OetMratsebQRMlvJCdGLElRG8TI8a339ITBkxFo/edit?usp=sharing';">Lien Google</button>
            <button class="button buttonvert droitebut" onclick="window.location.href = 'https://docs.google.com/document/d/168pLKaUE2zaN-zhGVrYF_2BDHn5GQtnEpw3mz5GPz-Q/edit?usp=sharing';">Lien Google</button>
            <br>
            <br>
            </p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="Texte">
            <p class ="center"> Maîtriser les rôles et les principes fondamentaux des systèmes d’exploitation afin d’interagir avec ceux-ci pour la configuration etadministration des réseaux et services fournis(DHCP, DNS, ...)<br>
            <img src="check.png" alt="check" width="8%" height="auto"> 
            <br>
            <button class="button buttonvert gauchebut" onclick="window.location.href = 'https://docs.google.com/document/d/1ujjKDFePQ4Q1UdxlIyuMraojZHHhyML_GJwlCk4o3rM/edit?usp=sharing';">Lien Google</button>
            <button class="button buttonvert droitebut" onclick="window.location.href = 'https://docs.google.com/document/d/19-nfx3VT-Re15W1XcpyIKr_N1uaYkkJWQvdZn8Fa2AA/edit?usp=sharing';">Lien Google</button>
            </p>
        </div>
    </div>
</div>
{% endblock %}