{% extends 'base.html.twig' %}

{% block body %}
<div class="Texte">
    <h1 class="BgVert"><b>Connecter les entreprises et les usagers</b> </h1>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="Texte">
            <p class ="center"> Installer un poste client(et le sécuriser: antivirus, parefeu, comptes, ...)<br>
            <img src="check.png" alt="check" width="8%" height="auto"> 
            <br>
            <button class="button buttonvert centrebut" onclick="window.location.href = ' https://docs.google.com/document/d/1-_V-7wKqBkSDXtxwJ_HnZluCwGih8RkRFr9bNS_0_l8/edit?usp=sharing';">Lien Google</button>
            </p>
        </div>
    </div>
    </div>
</div>

{% endblock %}