{% extends 'base.html.twig' %}
{% block body %}
<div class="Texte">
    <h1 class="BgVert"><b>Créer des outils et applications informatiques pour les R&T</b> </h1>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="Texte">
            <p class ="center"> Connaître l’architecture et les technologies d’un site Web(Langages et outils : HTML, CSS, CMS, JS, responsive)<br>
            <img src="check.png" alt="check" width="8%" height="auto"> 
            <br>
            <button class="button buttonvert centrebut" onclick="window.location.href = 'https://docs.google.com/document/d/1BGq3gf6klQhphUUpRMRF0kZsWCk3vg5LxyZEWxaP8uY/edit?usp=sharing';">Lien Google</button>
            </p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="Texte">
            <p class ="center"> Lire, exécuter, corriger et modifier un programme(programmes simples type scripts, algorithme inclus)<br>
            <img src="check.png" alt="check" width="8%" height="auto"> 
            <br>
            <button class="button buttonvert gauchebut" onclick="window.location.href = ' https://docs.google.com/document/d/1r7B_m0YKq2HMGQZA_JdUobTY-49A1w4XkGoFszMSrbI/edit?usp=sharing  ';">Lien Google</button>
            <button class="button buttonvert droitebut" onclick="window.location.href = ' https://docs.google.com/document/d/1useJX1hWv-Y5WhAfBcdGEKCjAmr1xIlySa9B4EKtpag/edit?usp=sharing';">Lien Google</button>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="Texte">
            <p class ="center"> Lire, exécuter, corriger et modifier un programme(programmes simples type scripts, algorithme inclus)<br>
            <img src="check.png" alt="check" width="8%" height="auto"> 
            <br>
            <button class="button buttonvert gauchebut" onclick="window.location.href = ' https://docs.google.com/document/d/1r7B_m0YKq2HMGQZA_JdUobTY-49A1w4XkGoFszMSrbI/edit?usp=sharing';">Lien Google</button>
            <button class="button buttonvert droitebut" onclick="window.location.href = 'https://docs.google.com/document/d/1fPQMKFJAh86V_u0xb_dcTnLJodM9HmIXCwrhna3OKs8/edit?usp=sharing';">Lien Google</button>
            <br>
            <br> 
            </p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="Texte">
            <p class ="center">Utiliser un système informatique et ses outils(intro système, fichiers, CLI, zips, outils collaboratifs sur Internet, hygiène informatique... : référentiel PIX et CyberEdu)<br>
            <img src="check.png" alt="check" width="8%" height="auto"> 
            <br>
            <button class="button buttonvert centrebut" onclick="window.location.href = 'https://docs.google.com/document/d/1_nF86oixhrRa37zyeR6Xw1g8cUjLIuzvjvGEsKP4Pnw/edit?usp=sharing';">Lien Google</button>
            </p>
        </div>
    </div>
</div>
{% endblock %}