{% extends 'base.html.twig' %}

{% block body %}

<div class="Texte">
    <form action="http://127.0.0.1:8000/cv2.pdf" method="post">
        <div class="container">
            <label for="uname"><b>Nom</b></label><br>
            <input type="text" placeholder="Entrez votre nom" name="uname" id="nom" required><br><br>
            <label for="psw"><b>Email</b></label> <br>
            <input type="text" placeholder="Entrez votre email" name="mail" id="mail" required><br><br>
            <label for="myCheck">Je souhaite téléchargé le CV:</label> 
            <input type="checkbox" id="myCheck" onclick="checkBox()">

            <p id="text" style="display:none"><button class="button buttonvert centrebut" onclick="window.location.href = 'http://127.0.0.1:8000/cv2.pdf';">Télécharger CV</button></p>
        </div>
    </form>
</div>

{% endblock %}