{% extends 'base.html.twig' %}

{% block body %}
<div class="Texte">
    <h1 class="BgVert"><b> Qui suis-je ?</b> </h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="Texte">
            <p class="center">Je m'appelle <u>Tom MALOSSE</u>, 18 ans, actuellement étudiant en Réseaux et Télécommmunications à l'IUT de Roanne <br>
            </p>        
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="Texte">
            <h3> <b> Informations</b> </h3>
            <p><img src="mail.png" alt="mail" width="3%" height="auto">
            tom.malosse@gmail.com <br>
            <img src="tel.png" alt="tel" width="3%" height="auto">
            0668902539 <br>
            <img src="adresse.png" alt="adresse" width="3%" height="auto">
            300 descente de la pelletière 42360 Cottance<br>
            </p>
            <br>
            <h3> <b> Formations</b> <!--<img src="diplome.png" alt="diplome" width="4%" height="auto">--> <br> </h3>
            <p>2014-2018 : Collège des montagnes du matin | Brevet Mention <b>très bien </b><br>
            2018-2021 : Lycée du forez, voie générale/spé SVT,Maths,PC | Baccalauréat mention bien <br>
            2021-? : 1ère année en à l'IUT de Roanne, parcours Réseaux et Télécommunications <br> </p>
            <br>
        </div>
   </div>

   <div class="col-sm-6">
        <div class="Texte">
            <h3> Expérience professionelle <!--<img src="outil.png" alt="outil" width="3%" height="auto">--> </h3>
            <p> 2018 - Stage de découverte - 1 semaine -  Entreprise Nigay SAS - 42110 Feurs<br>
            2020 - Travail - 1 mois - Chargé envoie commande à distances - Armurerie Chasse/Pèche Forezienne - 42110 Feurs <br>
            2020 - Travail - 1 mois - Magasinier - Spar Supermarché - 42165 Panissières <br> </p>
            <br>
            <h3> Compétences <!--<img src="futur.png" alt="futur" width="3%" height="auto">--> </h3>
            <p>- Aime le travail en groupe <br>
            - Maîtrise des logiciels de programmation (spyder, VSCode, NotePad) <br>
            - Maîtrise de logiciel de connexion à un switch (Putty) <br></p>
        </div>
   </div>
</div>

<div class="Texte">
    <h1 class="BgVert"> Liens </h1>
</div>
<div class="Texte">
    <h3> Mes réseaux </h3>
        <!--<a href="#" class="fa fa-facebook"></a>-->
        <!--<a href="#" class="fa fa-twitter"></a>-->
        <!--<a href="#" class="fa fa-google"></a>-->
        <a href="https://www.linkedin.com/in/tom-malosse-308bb6228/" class="fa fa-linkedin"></a>
    <h3> Curriculum vitæ </h3>
    <!-- <embed src="CV.pdf" width=800 height=500 type='application/pdf'/> -->
    <p> <a href="CV2.pdf"> Mon CV </a> </p>
    <h3> Portfolio </h3>
    <p> <a href="https://docs.google.com/spreadsheets/d/1dQR4062Vrgr8fZvTNYRgBPsT82qtUARGakZvWm7bAKw/edit?usp=sharing"> Lien vers le portfolio <a>
</div>

{% endblock %}