{% extends 'base.html.twig' %}

{% block body %}
<div class="Texte">
    <h1 class="BgVert"><b> Qui suis-je ?</b> </h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="Texte">
            <p>Je m'appelle <u>Tom MALOSSE</u>, 18 ans, je suis actuellement étudiant en Réseaux et Télécommmunications à l'IUT de Roanne.<br>
            Informations utiles : <br>
            - Email: tom.malosse@etu.univ-st-etienne.fr <br>
            - Téléphone: 0668902539</p> 

        </div>
    </div>
</div>
<div class="Texte">
    <h1 class="BgVert"><b> Que contient ce site ?</b> </h1>
</div>
<div class="Texte">
    <p>Ce site fut crée à l'issue d'un travail lors de ma 1ère année à l'IUT de Roanne dans la filière Réseaux/Télécommmunications.<br>
    Vous trouverez donc ici un tas d'<a href="/cv">informations</a> sur moi que je met à jour depuis sa création,
    vous trouverez également l'accès à mes <a href="/portfolio">compétences</a>, ce que j'ai fait et ce que je veux faire !<br>
    Et si vous souhaitez connaitre mes hobbies et passion n'hésitez pas a cliquez sur le bouton "Pour en savoir plus". <br>
    <br>
    Bonne journée a vous !
    <button class="button buttonvert pull-right" onclick="window.location.href = '/ensavoirplus';">Pour en savoir plus</button>
    <br>
    <br>
    </p>
</div>

{% endblock %}