{% extends 'base.html.twig' %}

{% block body %}
<div class="Texte">
    <h1 class="BgVert"><b> Qui sommes nous ?</b> </h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="Texte">
            <p> Malosse & Co est une entreprise d'aide informatique crée le 11/06/2022 par Tom MALOSSE<p>
            <p> Vous venez de crée vôtre entreprise et vous avez besoin d'aide pour créer votre réseau interne, 
            héberger votre propre site web et tout ça de manière sécurisé ?<br> Alors nous sommes ici pour vous aidez, Malosse & Co vous accompagne dans :<br>
            - La création de votre propre site web <br>
            - La creation de réseau local parfaitement sécurisé <br>
            - La mise au point de votre base de données <br>
            Et tout ça à des prix accessible et adapté aux petites et grandes entreprises ! <br>

        </div>
    </div>
</div>
<div class="Texte">
    <h1 class="BgVert"><b>Pourquoi cette entreprise fut créee ?</b> </h1>
</div>
<div class="Texte">
    Bonjour je suis Tom MALOSSE, le créateur de MALOSSE & CO, je suis un passionée d'informatique depuis mon plus
     jeune âge et ai toujours voulu en faire mon métier.<br>
    Si cette entreprise a vu le jour, c'était car je suis persuadé que beaucoup de PME aujourd'hui sont face à
     de géants problèmes quand elles doivent s'occuper de la partie informatique qui est devenu aujourd'hui obligatoire.<br>
    C'est pour cela que j'ai décidé de crée MALOSSE & CO pour aidez les petites et moyenne entreprises à voir le jour,
     et à gagner en visibilité sur le domaine du numérique.
    Si vous souhaitez en savoir plus sur moi cliquez sur "En savoir plus" !
    <br>
    Bonne journée a vous !
    <button class="button buttonvert pull-right" onclick="window.location.href = '/cv';">Pour en savoir plus</button>
    <br>
    <br>
    </p>
</div>

{% endblock %}