{% extends 'base.html.twig' %}
{% block body %}
<div class="Texte">
    <h1 class="BgVert"><b> Mes passions</b> </h1>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="Texte">
            <h3 class="center"> Le football </h3><br>
            <p> - Fan de football depuis tout petit<br> 
            - 7 ans de footabll à mon actif <br>
            - Supporter de l'ASSE<br>
            <img src="ASSE.png" class="pull-left"alt="ASSE" width="15%" height="auto"><br><br><br><br><br></p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="Texte">
            <h3 class="center"> Les jeux vidéos </h3><br>
            <p> - Gamer depuis tout petit<br>
            - Jeux en tout genre<br>
            - Pc/Console<br>
            <img src="apex2.png" alt="apex2"class="imageg" width="18%" height="auto">
            <img src="stardew.png" alt="stardew"class="imagec" width="18%" height="auto">
            <img src="Osulogo.png" alt="osu"class="imaged" width="18%" height="auto">
            <img src="genshin.png" alt="genshin"class="imaged" width="18%" height="auto">
            <img src="minecraft.png" alt="mc"class="imaged" width="18%" height="auto">
            </p>
        </div>
    </div> 
</div>

{% endblock %}


