{% extends 'base.html.twig' %}

{% block body %}

<div class= "Texte">
    <h1>Liste de nos services</h1>
    <h3>Services</h3>
    <form action="/commandebis" method="post">
        {% for commande in commande %}
            <input type="checkbox" name="ids[]" value="{{commande.id}}">  {{ commande.service }} : {{ commande.prix }} €<br>
        {% endfor %}
        <label for="entname"><b>Entrer votre nom</b></label><br>
        <input type="text" placeholder="Entrez votre nom" name="cname" id="cname" required><br><br>
        <button class="button buttonvert centrebut" type="submit">Commander</button>
    </form>
<div>

</div>


{% endblock %}