{% extends 'base.html.twig' %}

{% block body %}


<div class="Texte">
    <h1 class="BgVert">Ajout au panier réussie</h1>
    <p>Vos articles ont été ajouté à votre panier</p>
    <input type="button" class="button buttonvert centrebut" onclick=window.location.href='/panier'; value="Accéder a mon panier" />
</div>

{% endblock %}