{% extends 'base.html.twig' %}

{% block body %}

<div class= "Texte">
    <h1>Liste de nos services</h1> 
    <h3>Services</h3>
    <label> Vous êtes connectez sous le compte {{ app.user.username }} </label> 
    <form action="/commandebis" method="post">
        {% for presta in presta %}
            <input type="checkbox" name="ids[]" value="{{presta.id}}" >  {{ presta.nom }} : {{ presta.prix }} €<br>
        {% endfor %}
        <button class="button buttonvert centrebut" type="submit">Commander</button>
    </form>
</div>



{% endblock %} 